<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut great news !! </h1>
    <p>
      quelqu'un vient de participer à ton événement.
    </p>
    <p>
      voici ses informations personnelles :
    </p>
    <ul>
      <li>Prénom : <%= @attendance.user.first_name %> </li>
      <li>email : <%= @attendance.user.email %></li>
    </ul>
    <p> À très vite sur eventmeet.fr !
  </body>
</html>


